@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    font-family: 'Rubik', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:linear-gradient(rgb(200, 103, 238), rgb(241, 127, 226)); */
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  */
    background: radial-gradient(rgb(225, 211, 245), rgb(230, 209, 241));
    /* background: radial-gradient(rgb(181, 179, 184), rgb(70, 69, 69));  */
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 65%;
    background-color: var(--clr-white);
    border-radius: 20px;
    -webkit-box-shadow: 0px -1px 11px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -1px 11px 10px rgba(0,0,0,0.3);
    box-shadow: 0px -1px 11px 10px rgba(0,0,0,0.3);

}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.login-title-container {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.login-title {
    font-size: 52px;
    color: var(--clr-white);
    border: 5px solid var(--clr-main);
    border-radius: 12px;
    padding: 1%;
    background: var(--clr-main-light);
    margin-bottom: 0;
    
}

.login-img {
    width: 300px;
    height: 100%;
}

.login {
    width: 90%;
    height: 35%;
    gap: 4%;
    display: flex;
    flex-direction: column;
    color: var(--clr-main-light);
    align-items: center;
}

#name, #surname {
    width: 35%;
    height: 100px;
    margin-bottom: 2%;
    border-radius: 14px;
    border: 0;
    color: rgb(0, 0, 0);    
    font-size: 30px;
    text-align: center;
    opacity: 1;
    background-color: var(--clr-gray);
    
}


.login-label {
    font-size: 25px;
}

.leer-mas {
    font-size: 22px;
    color:var(--clr-white);
    background-color: #261A2F;
    border-radius: 13px;
    transition-duration: 0.7s;
    text-decoration: none;
    background: var(--clr-main);
    border: none;
}
.leer-mas:hover {
    color: var(--clr-gray);
    background-color: var(--clr-main-light);
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}

.leer-mas:active {
    transform: scale(1.04);
    transition: 0.1s ease-in-out;
    background-color:#574462;
    box-shadow: inset 0px 0px 5px black;

}

.login-submit-container {
    width: 90%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 50px;
    margin-right: 7%;
}

.skip-button {
    color: var(--clr-main);
    margin-left: 25px;
    background-color: var(--clr-white);
}

.skip-button:hover {
    background-color: rgba(128, 128, 128, 0.42);
    color: (--clr-main-light);
}
.forgot-password {
    font-size: 18px;
    color: var(--clr-main);
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}

.forgot-password:hover {
    color: var(--clr-main-light);
}
@media (max-width: 520px) {
    .form-container {
        height: 50%;
        width: 80%;
    }
    .login-img {
        width: 150px;
        height: 100%;
    }
    .login-title-container{
        font-size: 20px;
    } 

    .login-title{
        font-size: 20px;
    }

    #name, #surname {
        width: 85%;
        font-size: 14px;
    }

    .login-submit-container {
        width: 80%;
        height: auto;
        display: flex;
        align-content: center;
        justify-content: center;
        gap:10px;
        font-size: 10px;
        flex-direction: column;
        margin: 0;
    }

    .leer-mas {
        font-size: 18px;
        color: var(--clr-white);
        border-radius: 10px;
        transition-duration: 0.7s;
        text-decoration: none;
        background: var(--clr-main);
        opacity: 1;
    }

    .skip-button {
        color: var(--clr-main);
        background-color: var(--clr-white);  
       margin-left: 0;
    
   }
}

@media (min-width: 520px) and (max-width: 900px) {
    .form-container {
        height: 70%;
    }

    .login-title-container{
        font-size: 50px;
    } 

    #name, #surname {
        width: 65%;
        font-size: 14px;
    }

    .login-submit-container {
        width: 50%;
        height: auto;
        display: flex;
        align-content: center;
        justify-content: center;
        gap:10px;
        font-size: 10px;
        flex-direction: column;
        margin: 0;
    }

    

    .leer-mas {
        font-size: 18px;
        color: var(--clr-white);
        background-color: #261A2F;
        border-radius: 10px;
        transition-duration: 0.7s;
        text-decoration: none;
        background: var(--clr-main);
        opacity: 1;
    }

    .skip-button {
        color: var(--clr-main);
        background-color: var(--clr-white);
       margin-left: 0;
    
   }
}
@media (min-width: 900px) and (max-width:1000px){
    #name, #surname, #password  {
        width: 50%;
        font-size: 16px;
    }
}