body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background: linear-gradient(rgb(200, 103, 238), rgb(241, 127, 226)); */
  background: radial-gradient(rgb(225, 211, 245), rgb(230, 209, 241));
  /*  background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; */
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: #333;
  padding: 10px 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.menu-btn {
  /* width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 0%; */

  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding-left: 0%;
}
.bank-info {
  align-items: center;
  justify-content: center;
}
.darkMode {
  align-items: center;
  justify-content: center;
}
.logo {
  width: 300px;
  height: 100%;
}
.sidebar {
  /* background-color: #333;
    width: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    animation: slideIn 0.5s ease-in-out;
    overflow-x: hidden; */
  position: fixed;
  top: 7%;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: left 0.3s ease-in-out;
  z-index: 99;
  margin-top: 33px;
}
.sidebar.active {
  left: 0;
}
.menu-btn div {
  width: 30px;
  height: 5px;
  background-color: #fff;
}
.container {
  display: flex;
  flex: 1;
}
.main-content {
  /* flex-grow: 1;
    padding: 20px;
    text-align: center;
    align-items: center; */
  flex-grow: 1;
  padding: 20px;
  text-align: center;
  align-items: center;
  margin-left: 0;
  margin-top: 8%; /*Ajusta esta altura según la altura del encabezado */
  transition: margin-left 0.3s ease-in-out;
}
.btn-logOut {
  padding: 7px 5px;
  background-color: #f11717;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin-right: 30px;
  text-align: center;

  width: 80%;
  margin: 20px auto;
}
.btn-logOut:hover {
  background-color: #fd6464 !important;
}
.btnSideBar {
  padding: 10px 20px;
  margin-top: 350px;
  /* background-color: #ec297a; */
  background-color: #9f8ee0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 12px auto;
  display: block;
  width: 80%;
}
.btnSideBar:hover {
  background-color: #2a0ca0;
}
.btn {
  padding: 10px 20px;
  background-color: #9f8ee0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px auto;
  display: block;
  text-align: center;
}
.btn:hover {
  /* background-color: #44ace9; */
  background-color: #2a0ca0;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
  pointer-events: none;
}
.overlay.active {
  display: block; /* Muestra el overlay cuando la barra lateral está activa */
}

.footer {
  width: 100%;
  background-color: #333;
}
.footer .group-one {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.footer .group-one .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .group-one .box figure img {
  width: 250px;
}
.footer .group-one .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .group-one .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.footer .group-one .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #575656;
  text-align: center;
  transition: all 300ms ease;
}
.footer .group-one .red-social a:hover {
  color: #44ace9;
}
.footer .group-two {
  background-color: #181818;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.footer .group-two small {
  font-size: 15px;
}

/* Estilos generales modo oscuro */
.light-mode header {
  background-color: #333; /* Fondo claro para el encabezado */
}

body.dark-mode {
  background: #111;
  color: #fff;
}
.dark-mode header {
  background-color: #222;
}
.dark-mode .btn,
.dark-mode .btnSideBar,
.dark-mode .footer .red-social a {
  background-color: #575656;
}
.dark-mode .btn:hover,
.dark-mode .btnSideBar:hover,
.dark-mode .footer .red-social a:hover {
  background-color: #070707;
}

.mode-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  transition: background-color 0.3s ease;
  margin-right: 40px;
}

.mode-toggle i {
  font-size: 18px;
  transition: color 0.3s ease;
}

.light-mode .mode-toggle {
  color: #f1c40f;
}

.dark-mode .mode-toggle {
  color: #fc9b00;
}

.dark-mode .carousel-container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(2, 2, 2, 0.9);
  border-radius: 10px;
  padding: 1%;
  box-shadow: 0px 4px 8px rgba(248, 245, 245, 0.541);
  margin-bottom: 10%;
  padding-left: 2%;
}

/*  <button class="mode-toggle" onclick="toggleDarkMode()">
                <span class="fas fa-sun"></span>
                <span class="fas fa-moon"></span>
            </button> */
.mode-toggle {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  align-items: center;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.mode-toggle::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 1000px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px #0c0c0c;
}

.mode-toggle.active::after {
  right: 0;
  left: unset;
  background: #343d5b;
  color: #f1f1f1;
}

.mode-toggle span {
  width: 20px;
  height: 20px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  transition: inherit;
}

.light-mode .mode-toggle.active {
  background-color: #343d5b;
}
/* 
*/
.carousel-container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 1%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.733);
  margin-bottom: 10%;
  padding-left: 2%;
}

#carousel {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5%; /* Adjust the gap between images */
  align-items: center;
}

#carousel img {
  flex: 1 1 calc(33.33% -1.5%);
  max-width: calc(33.33% - 1.5%);
}
#carousel img :last-child {
  margin-right: 0;
}

.btn-carousel-prev,
.btn-carousel-next {
  display: none;
}
.hidden {
  display: none;
}

.info-user-container {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 15%;
  border-radius: 5px;
}
.user-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 1px;
}
.user-name:nth-child(1) {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: stretch;
  order: 0;
  color: white;
  font-weight: bold;
  border-radius: 5px 0 0 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

.current-time:nth-child(2) {
  
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: stretch;
  order: 0;

   display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
  text-align: center;
  padding: 5px;
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 250px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1600px) {
  .main-content {
    margin-top: 12%;
  }
  .sidebar {
    margin-top: 33px;
  }
}

@media screen and (max-width: 700px) {
  .main-content {
    margin-top: 20%;
  }
  .sidebar {
    margin-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    flex-direction: column;
  }
  .menu-btn {
    margin-left: 10px;
  }
  .logo {
    width: 150px;
    height: 100%;
  }
  .footer .group-one {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    justify-content: space-between;
    padding: 10px 15px;
  }
  .sidebar {
    position: fixed;
    top: 7%;
    left: -80%;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: left 0.3s ease-in-out;
    z-index: 99;
    margin-top: 33px;
  }
  .btnSideBar {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    width: 80%;
  }
  .main-content {
    flex-grow: 1;
    padding: 30px;
    text-align: center;
    margin-left: 0;
    margin-top: 160px;
    transition: margin-left 0.3s ease-in-out;
  }

  .sidebar.active {
    left: 0;
  }
  .carousel-container {
    position: relative;
    width: 80%;
    align-self: center;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;

    padding-left: 1%;
  }

  #carousel {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #carousel img {
    height: auto;
    max-width: 100%;
    height: auto;
  }

  .btn-carousel-prev,
  .btn-carousel-next {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
  }

  .btn-carousel-prev {
    left: 10px;
  }

  .btn-carousel-next {
    right: 10px;
  }
}
