body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(rgb(200, 103, 238), rgb(241, 127, 226));
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #333;
    padding: 10px 20px;
}
.header-Container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    justify-content: space-between; 
    align-items: center;   
    height: 50px;  
}
.menu-btn {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 0%;
}
.bank-info {
    align-items: center;    
    justify-content: center; 
}
.logo {
    width: 300px;
    height: 100%;
}
.sidebar {
    background-color: #333;
    width: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    animation: slideIn 0.5s ease-in-out;
    overflow-x: hidden;
}
.menu-btn div {
    width: 30px;
    height: 5px;
    background-color: #fff;
}
.container {
    display: flex;
    flex: 1;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    align-items: center;
}
.btn-logOut{
    padding: 7px 5px;
    background-color: #f11717;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto; 
    display: block;
    text-align: center;
}
.btnSideBar {
    padding: 10px 20px;
    background-color: #ec297a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto;
    display: block;
    width: 100%; 
}
.btnSideBar:hover {
    background-color: #44ace9;
}
.btn {
    padding: 10px 20px;
    background-color: #ec297a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto; 
    display: block;
    text-align: center;
}
.btn:hover {
    background-color: #44ace9;
}

.footer {  
    width: 100%;
    background-color: #333;
}
.footer .group-one{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.footer .group-one .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .group-one .box figure img{
    width: 250px;
}
.footer .group-one .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.footer .group-one .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer .group-one .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #575656;
    text-align: center;
    transition: all 300ms ease;
}
.footer .group-one .red-social a:hover{
    color: #44ace9;
}
.footer .group-two{
    background-color:#181818;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.footer .group-two small{
    font-size: 15px;
}



@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 250px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .menu-btn {
        margin-left: 20px;
    }
    .logo {
        width: 200px;
        height: 100%;
    }
    .footer .group-one{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}