{% extends 'core/base.html' %}

{% block title %}
Ingresa
{% endblock %}

{% block content %}

    {% load crispy_forms_tags %}
    <div class="container mt-5">
        <div class="d-flex flex-column fw-bold mx-auto my-4 p-4 border border-secondary rounded"
             style="max-width: 600px;">
          <h3 class="p-4 text-center">Inicia sesión para continuar</h3>
          <form class="p-4" action="" method="POST">
            {% csrf_token %} {{ form | crispy }}
            <div class="d-flex justify-content-between">
              <a href="{% url 'home' %}" class="mt-3">Volver a inicio</a>
              <a class="btn btn-secondary" href="{% url 'register' %}">Registrarse</a>
              <input type="submit" class="btn btn-primary" value="Ingresar">
            </div>
          </form>
        </div>
      </div>

{% endblock %}