{% extends 'core/base.html' %}

{% block title %}
Ingresa
{% endblock %}

{% block content %}

    {% load crispy_forms_tags %}



    <div class="container mt-5">
        <div class="d-flex flex-column fw-bold mx-auto my-4 p-4 border border-secondary rounded"
             style="max-width: 800px;">
          <h3 class="p-4 text-center">Crea tu usuario</h3>
          <form class="p-4" action="" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            {% if user_created == False %}
              <p class="fw-bold text-danger mt-3">Error creando usuario. Completa todos los campos.</p>
            {% endif %}
            <div class="d-flex justify-content-between">
              <a href="{% url 'home' %}" class="mt-3">Volver a inicio</a>
              <a class="btn btn-danger" href="{% url 'login' %}">Inicia Sesión</a>
              <input type="submit" class="btn btn-primary" value="Registrarse">
            </div>
          </form>
        </div>
      </div>

{% endblock %}