
.menu-btn {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding-left: 0%;
}
.menu-btn div.hamburger {
  width: 30px;
  height: 5px;
  background-color: #fff;
}
.sidebar {
  position: fixed;
  top: 7%;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: left 0.3s ease-in-out;
  z-index: 99;
  margin-top: 33px;
}
.sidebar.active {
  left: 0;
}
.container {
  display: flex;
  flex: 1;
}
