
.menu-btn {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding-left: 0%;
  align-items: center; /* Centra verticalmente los elementos */
  gap: 5px; /* Añade espacio entre los elementos */
}
.menu-btn div.hamburger {
  width: 30px;
  height: 5px;
  background-color: #fff;
}
.sidebar {
  position: fixed;
  top: 7%;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: left 0.3s ease-in-out;
  z-index: 99;
  margin-top: 5px;
}
.sidebar.active {
  left: 0;
}
.container {
  display: flex;
  flex: 1;
}
/* Estilos para los botones en la barra lateral */
.sidebar a {
  display: block;
  padding: 10px 20px; /* Espaciado interno para los botones */
  color: #fff; /* Color de texto */
  text-decoration: none;
  transition: background-color 0.2s; /* Animación de color de fondo al pasar el ratón */
}

.sidebar a:hover {
  background-color: #555; /* Color de fondo al pasar el ratón */
}