{% extends 'core/base.html' %}

{% block title %}
Tus datos
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="mx-auto text-center my-5">
        <h3 class="p-4 mb-4 fw-bold fs-1">Tus datos</h3>
        <div class="bg-light w-75 mx-auto border border-dark rounded fs-4 p-3">
            <p>Nombre: <strong>{{ cliente_data.customer_name }}</strong></p>
            <p>Apellido: <strong>{{ cliente_data.customer_surname }}</strong></p>
            <p>DNI: <strong>{{ cliente_data.customer_dni }}</strong></p>
            <p>Fecha de nacimiento: <strong>{{ cliente_data.dob }}</strong></p>
            <p>Cliente <strong>{{ client_class.tipo_cliente_nombre }}</strong></p>
        </div>
        <div class="mt-5 mx-auto w-75">
            <a class="mt-5 fs-5 btn btn-success fw-bold d-block mx-auto" href="{% url 'loan_money' %}">Solicitar préstamo</a>
        </div>
    </div>
  </div>

{% endblock %}