{% extends 'core/base.html' %}

{% block title %}
Tus datos
{% endblock %}

{% block content %}

<div class="mx-auto w-50 text-center my-5">
    <h3 class="p-4 mb-4 fw-bold fs-1">Tus datos</h3>
    <div class="bg-light w-50 mx-auto border border-dark rounded fs-4 p-2">
        <p>Nombre: <strong>{{ cliente_data.customer_name }}</strong></p>
        <p>Apellido: <strong>{{ cliente_data.customer_surname }}</strong></p>
        <p>DNI: <strong>{{ cliente_data.customer_dni }}</strong></p>
        <p>Fecha de nacimiento: <strong>{{ cliente_data.dob }}</strong></p>
        <p>Cliente <strong>{{ client_class.tipo_cliente_nombre }}</strong></p>
    </div>
</div> 

{% endblock %}