/* Estilos para tamaños de pantalla grandes */
.center-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#container-footer{
  
  background-color: #181818 !important;
}
.logo-container{
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
#contact {
  padding: 20px;
  color: rgba(255, 255, 255, 0.75);
}

#contact .section-title {
  margin-bottom: 40px;
}

#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
}

#contact h2::after {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
  position: absolute;
}

#contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}

#contact .text-danger {
  color: #cc0033;
}

#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

#contact .btn-custom:hover {
  color: #1f386e;
  background: #fff;
}

label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  display: block;
}

#contact .form-control {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 10px 12px; /* Aumenta el espacio para mejorar la experiencia táctil */
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
}

#contact .form-control:focus {
  border-color: #999;
  outline: 0;
}

.form-control::-webkit-input-placeholder {
  color: #777;
}

.form-control:-moz-placeholder {
  color: #777;
}

.form-control::-moz-placeholder {
  color: #777;
}

.form-control:-ms-input-placeholder {
  color: #777;
}

#contact .contact-info {
  margin: 20px 10px;
}

#contact .contact-item {
  margin: 20px 0;
}

#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
}

#contact .contact-item i.fa {
  margin-right: 10px;
}

#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 30px; /* Reduzco el espacio en dispositivos móviles */
  margin-top: 30px;
  text-align: center;
}

#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}

#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}

#contact .social i.fa:hover {
  color: #608dfd;
  background: #fff;
}

#footer {
  background: #635f5f;
  padding: 20px 0; /* Reduzco el espacio en dispositivos móviles */
  text-align: center;
}

#footer p {
  color: #ffffff;
  font-size: 14px;
}

#footer a {
  color: #608dfd;
}

#footer a:hover {
  border-bottom: 2px solid #608dfd;
}

/* Media Queries para dispositivos móviles y tablets */
@media screen and (max-width: 500px) {
  #contact h2 {
    font-size: 24px; /* Ajusta el tamaño del título para dispositivos móviles */
    margin-top: 20px;
  }

  #contact h2::after {
    width: 40px; /* Ajusta el tamaño de la línea bajo el título */
  }

  #contact h3 {
    margin-top: 40px; /* Ajusta el espacio entre los elementos */
  }
  .center-content {
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
  }

  /* Ajusta el ancho máximo de ContactSection para que no sea más ancho que la pantalla */
  #contact {
    max-width: 100%;
  }

  /* Ajusta el espaciado entre elementos en ContactSection */
  #contact .form-group {
    margin-bottom: 20px;
  }
  /* Ajusta el espaciado en InfoSection */
  .contact-info {
    margin-top: 20px;
  }
  #contact .form-control {
    font-size: 13px !important; 
  }
  .contact-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Ajusta el espaciado en InfoSection */
  .contact-info {
    margin-top: 20px;
  }
}
