{% extends 'cuentas/account.html' %}

{% block create_account %}

    {% load crispy_forms_tags %}
    {% if 'error' in request.GET %}
        <h2>Error: alcanzo el limite de cuentas </h2>
    {% endif %}
    <div class="mx-auto w-25 text-center my-5 fs-3 fw-bolder">


        
        <form action="" method="POST">
            {% csrf_token %}
            
            {{ form | crispy }}

            <input class="btn btn-primary" type="submit" value="Abrir cuenta">
        </form>
    </div>

{% endblock %}