<!DOCTYPE html>
<html lang="en">
  <head>
    {% load bootstrap5 %} {% bootstrap_css %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Inicio {% endblock %}</title>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <div class="container-fluid">
        <a class="navbar-brand fw-bolder" href="#">ITBANK</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link btn btn-info fw-bold" href="{% url 'home' %}"
                >Inicio</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link btn btn-info fw-bold"
                href="{% url 'account' %}"
                >Mis cuentas</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link btn btn-info fw-bold"
                href="{% url 'personal_data' %}"
                >Mis datos</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link btn btn-info fw-bold"
                href="{% url 'loan_money' %}"
                >Préstamos</a
              >
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a
                class="nav-link btn btn-danger fw-bold"
                href="{% url 'logout' %}"
                >Salir</a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a
                class="nav-link btn btn-success fw-bold"
                href="{% url 'login' %}"
                >Ingresar</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}

    <div class="text-center my-5 px-3 w-100 w-sm-90 w-md-75 w-lg-50 w-xl-50 mx-auto">

      {% if request.user.is_authenticated %}
      <h1>Bienvenido {{ request.user.first_name }}</h1>
      {% endif %}

      <section
        class="container my-4 text-white p-4 rounded"
        style="background-color: #4592af"
      >
        <h2 class="my-4 mt-5 text-black">Novedades Financieras Destacadas</h2>
        <div class="card mt-5" style="background-color: #226089">
          <div class="card-body p-4">
            <h3 class="card-title p-3">Informe Económico Trimestral</h3>
            <p class="card-text">
              Consulta nuestro último informe económico trimestral para obtener
              análisis detallados sobre las tendencias actuales del mercado,
              previsiones económicas y consejos de nuestros expertos.
            </p>
          </div>
        </div>

        <div class="card mt-4" style="background-color: #226089">
          <div class="card-body p-4">
            <h3 class="card-title p-3">Nuevas Oportunidades de Inversión</h3>
            <p class="card-text">
              Descubre las últimas oportunidades de inversión que ofrecemos.
              Desde fondos mutuos hasta productos estructurados, te presentamos
              opciones para diversificar y maximizar tus ganancias.
            </p>
          </div>
        </div>

        <div class="card mt-4" style="background-color: #226089">
          <div class="card-body p-4">
            <h3 class="card-title p-3">
              Webinar: Estrategias Financieras para el Futuro
            </h3>
            <p class="card-text">
              Participa en nuestro próximo webinar donde expertos financieros
              compartirán estrategias para enfrentar los desafíos económicos
              actuales y planificar un futuro financiero sólido.
            </p>
          </div>
        </div>
      </section>

      <section
        class="container my-5 text-white p-4 rounded"
        style="background-color: #4592af"
      >
        <h2 class="my-4 mt-5 text-black">Noticias del Banco</h2>
        <div class="card mt-5" style="background-color: #226089">
          <div class="card-body p-4">
            <h3 class="card-title p-3">Inauguración de Nueva Sucursal</h3>
            <p class="card-text">
              Estamos emocionados de anunciar la apertura de nuestra última
              sucursal en [Nombre de la Ciudad]. Visítanos para disfrutar de
              servicios bancarios convenientes y atención personalizada.
            </p>
          </div>
        </div>

        <div class="card mt-4" style="background-color: #226089">
          <div class="card-body p-4">
            <h3 class="card-title p-3">
              Lanzamiento de la Aplicación Móvil Mejorada
            </h3>
            <p class="card-text">
              ¡Actualizamos nuestra aplicación móvil! Descarga la última versión
              para disfrutar de funciones mejoradas, mayor seguridad y una
              experiencia bancaria más fluida desde tu dispositivo móvil.
            </p>
          </div>
        </div>

        <div class="card mt-4" style="background-color: #226089">
          <div class="card-body p-4">
            <h3 class="card-title p-3">
              Charla sobre Inversiones Inteligentes
            </h3>
            <p class="card-text">
              Únete a nosotros el [Fecha] para una charla exclusiva sobre
              estrategias de inversión inteligente. Expertos en finanzas
              compartirán consejos y trucos para maximizar tus inversiones.
            </p>
          </div>
        </div>
      </section>
    </div>
    {% endblock %}
  </body>
</html>
