body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  background: radial-gradient(rgb(225, 211, 245), rgb(230, 209, 241));
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
}

h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}

.light-mode header {
  background-color: #333; /* Fondo claro para el encabezado */
}

body.dark-mode {
  background: #424242;
  color: #fff;
}
.dark-mode header {
  background-color: #222;
}
.dark-mode .btn,
.dark-mode .btnSideBar,
.dark-mode .footer .red-social a {
  background-color: #575656;
}
.dark-mode .btn:hover,
.dark-mode .btnSideBar:hover,
.dark-mode .footer .red-social a:hover {
  background-color: #070707;
}
