.back {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url("../public/img/page-bk.svg") no-repeat center bottom #000;
  background-size: cover;
  padding-bottom: 4rem;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.container {
  min-height: 80vh;
  position: relative;
}

.content {
  position: relative;
  z-index: 1;
}

.h1 {
  font-size: 15vmin;
}

h2.h2 {
  color: #ddd;
  font-size: 6vmin;
  margin: 1rem 0 2rem;
}
.h3 {
  color: #ddd;
}
.floating {
  margin-top: -1px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}
.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Color de fondo del botón (puedes cambiarlo) */
  color: #ffffff; /* Color del texto (blanco en este caso) */
  border: 2px solid #007bff; /* Borde sólido del botón */
  border-radius: 20px; /* Radio del borde para hacerlo redondeado */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

/* Estilo cuando el cursor está sobre el botón */
.boton:hover {
  background-color: #0056b3; /* Cambia el color de fondo en el hover (puedes cambiarlo) */
  border-color: #0056b3; /* Cambia el color del borde en el hover (puedes cambiarlo) */
}

/* Estilo cuando el botón está presionado */
.boton:active {
  background-color: #003d80; /* Cambia el color de fondo al hacer clic (puedes cambiarlo) */
  border-color: #003d80; /* Cambia el color del borde al hacer clic (puedes cambiarlo) */
}
