.credit-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 60%;
  margin: 0 auto;
  
}

h1 {
  color: #fff;
}
.card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  margin: 2rem 0 ;
}

.card:hover {
  transform: scale(1.05);
}

.card:nth-child(odd) {
  background-color: #e9a105;
}

.card:nth-child(even) {
  background-color: #2426ad;
  color: white;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.card-details {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: black;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
