/* Start Elastic carousel */
.container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #651f71;

  width: 80%; 
  padding: 20px;
  border-radius: 15px;
  align-content: center;
  justify-content: center;
}
.container h1 {
  font-size: 35px;
  color: rgb(120, 117, 117);
  text-align: center;
}
.seperator {
  width: 100%;
}

.carousWrapper {
  width: 100%;
}

.carousWrapper {
  width: 100%;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  margin: 15px;
}
.title {
  background-color: rgba(4, 4, 4, 0.228);
  border-radius: 15px;
}
.title h3 {
  padding: 2rem;
  color: #fff;
}
/* End Elastic carousel */
