/* /* LOGIN STYLES
.login-container {
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
    -webkit-box-shadow: -1px 3px 32px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 32px 1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 32px 1px rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
  }
  .login-container img{
    align-self: stretch;
    justify-content: stretch;
  }
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  .login-container-logo {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .login-container input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  .login-container button {
    margin-top: 10px;
    padding: 10px;
    background-color: #dd3a35f1;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }
  .login-container button:hover {
    background-color: #b1211c;
  }
  .login-container span{
    color: blue;
    
  } */
/* login.module.css */

/*
.container {    
  background-color: #9333ea;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.login-container {
  max-width: 400px;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #020202;
  border-radius: 15px;
  background-color: #330655; 
  box-shadow: -1px 3px 32px 1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container img {
  align-self: stretch;
  justify-content: stretch;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-container button {
  margin-top: 10px;
  padding: 10px;
  background-color: #ac55ee; 
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}
.login-container p {
  color: #fff;
}
.login-container button:hover {
  background-color: #330655; 
}

.error-message {
  color: red;
} */
/* login.component.css */
/* Estilo para el contenedor principal */
.main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #000;
}
.container {
  width: 30%;
  padding: 30px;
  border: 1px solid #703ff8;
  border-radius: 5px;
  color: #fff;
  background: radial-gradient(circle, #000 0%, transparent 80%), #000;
  background-size: cover;
  box-shadow: 0 2px 5px rgba(118, 33, 255, 0.959);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilo para el encabezado 
h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff; 
}*/
.formulario {
  width: 100%;
}
/* Estilo para los campos de entrada */
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Estilo para las etiquetas de los campos */
.labels {
  font-weight: bold;
  color: #fff;
}

/* Estilo para los campos de entrada de texto */
.formCcontrol {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background: rgba(
    255,
    255,
    255,
    0.2
  ); /* Hacer que los campos de entrada sean semi-transparentes */
  color: #fff; /* Cambiar el color del texto para que sea visible en el fondo oscuro */
}
/* Estilo para el botón de inicio de sesión */
.btn-primary {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #a844fa;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #8800f8;
}

/* Estilo para el enlace "Registrarse" */
.Link {
  color: #a844fa;
  text-decoration: none;
}

/* Cambiar el estilo del enlace "Registrarse" al pasar el ratón por encima */
.Link:hover {
  text-decoration: underline;
}
.container,
.p,
.form-control,
.btn-primary,
.mt-3 a {
  font-family: "Roboto", sans-serif;
}

.btn-fast {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #5af7add8;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-fast:hover {
  background-color: #256d4bd8;
  color: #fff;
}
/* Estilo base */
/* ... (código anterior) ... */

/* Estilo para pantallas pequeñas (por ejemplo, teléfonos) */
@media (max-width: 767px) {
  .container {
    width: 80%;
    padding: 20px;
  }
  .formulario {
    width: 80%;
  }
  .form-control {
    font-size: 14px;
  }
}

/* Estilo para pantallas medianas (por ejemplo, tabletas) */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 60%;
    padding: 20px;
  }
  .formulario {
    width: 80%;
  }
  .form-control {
    font-size: 16px;
  }
}
