/*REGISTER STYLES

.container {
  background-color: #9333ea;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-container {
  max-width: 400px;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 15px;
  background-color: #330655; 
  -webkit-box-shadow: -1px 3px 32px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 32px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 32px 1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.register-container form {
  display: flex;
  flex-direction: column;
}
.register-container input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.register-container button {
  margin-top: 10px;
  padding: 10px;
  background-color: #6ddb41; 
  color: #000000;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}
.register-container p {
  color: #fff;
}
.register-container button:hover {
  background-color: #330655; 
}
.register-container span {
  color: blue;
}
*/
/* Estilo para el contenedor principal del formulario de registro */
.main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #000;
  text-align: center;
}
.container {
  width: 30%;
  padding: 30px;
  border: 1px solid #703ff8;
  border-radius: 5px;
  color: #fff;
  background: radial-gradient(circle, #000 0%, transparent 80%), #000;
  background-size: cover;
  box-shadow: 0 2px 5px rgba(118, 33, 255, 0.959);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.formulario {
  width: 100%;
}
/* Estilo para los campos de entrada del formulario de registro */
.form-group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilo para las etiquetas de los campos del formulario de registro */
.labels {
  font-weight: bold;
  color: #fff;
}

/* Estilo para los campos de entrada de texto del formulario de registro */
.container .formCcontrol {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

/* Estilo para el botón de registro del formulario */
.container .btn-primary {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #a844fa;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Cambiar el color de fondo del botón al pasar el ratón por encima */
.container .btn-primary:hover {
  background-color: #8800f8;
}

/* Estilo para el enlace "Iniciar sesión" en el formulario de registro */
.Link {
  color: #a844fa;
  text-decoration: none;
}

/* Cambiar el estilo del enlace "Iniciar sesión" al pasar el ratón por encima */
.Link:hover {
  text-decoration: underline;
}

/* Aplicar la fuente Roboto al formulario de registro */
.container,
.container h2,
.container label,
.container .form-control,
.container .btn-primary,
.container .mt-3 a {
  font-family: "Roboto", sans-serif;
}
