{% extends 'core/base.html' %}

{% block title %}
Préstamos
{% endblock %}

{% block content %}

    {% if 'error' in request.GET %}
        <h2 class="mt-5 w-100 text-center text-danger">Error: ocurrió un problema al solicitar tu préstamo
        </h2>
        <p class="fs-4 w-100 text-center text-danger">Intentalo más tarde o comunícate con soporte</p>
    {% endif %}

    {% if 'ok' in request.GET %}
        <h2 class="my-5 w-100 text-center text-success">Su préstamo fue solicitado correctamente</h2>
    {% endif %}

    {% load crispy_forms_tags %}

    <div class="mx-auto w-50 text-center my-5">
        <h3>
            Solicitar préstamo
        </h3>

        <div class="d-flex mx-auto flex-column">
            <form action="" method="POST">
                {% csrf_token %}

                {{ form | crispy }}

                <input class="btn btn-primary" type="submit" value="Solicitar préstamo">
            </form>
        </div>
    </div>



{% endblock %}